body {
    background-color: rgb(64, 131, 255);
    color: white;
    font-family: sans-serif;
}

#title {
    display: flex;
    text-align: center;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 10rem;
    transition: 100ms;
    padding-left: 90px;
    padding-right: 90px;
}

button:hover {
    transform: scale(1.2);
}


#results-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    justify-items: center;
    align-items: center; 
}

#results-container h2 {
    grid-column: 0/3;
    
}

.result-emoji {
    font-size: 8rem;
}

#computer-title {
    grid-column: 3/4;
}

#computer-choice{
    grid-row: 2/3;
    grid-column: 3/4;
    rotate: 270deg;
}

#user-choice{
    grid-row: 2/3;
    grid-column: 1/2;
    rotate: 90deg;
}

#result {
    grid-column: 2/3;
    grid-row: 1/3;
    font-size: 5rem;
    margin-top: 260px;
}

.results-title {
    font-size: 2.2rem;
}